.reviews {
    display: flex;
    margin-bottom: 40px;
}
.authorReview{
    margin-right: 40px;
}

.text p {
    margin: 0 0 10px 0;
}

.about {
    font-size: 14px;
    line-height: 20px;
    color: #7b8e98;
}