.header {
    width: 100%;
    background-color: var(--main-color);
    padding: 12px 0;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.profile{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 600;
    align-items: flex-end;
    line-height: 1.5;
}
.client {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-top: 2px;
}

/* .button{
    color: inherit;
	padding: 10px 18px;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	border-radius: 55px;
	border: 1px solid transparent;
	text-decoration: none;
	display: inline-block;
	transition: background-color .3s;
	cursor: pointer;
} */

.iconsMenu {
	display: flex;
	gap: 20px;
}

.iconLink {
	position: relative;
	width: 32px;
	height: 32px;
}
.iconsMenu svg{
	width: 100%;
	height: 100%;
}

.profileIcon {
	position: relative;
    margin: 0 10px;
	width: 100%;
	height: 100%;
    color: black;
}

.iconBubble{
	background-color: #01A54E;
	border-radius: 50%;
	color: #FFFFFF;
	font-size: 14px;
	width: 22px;
	height: 22px;
	line-height: 1.25;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	position: absolute;
	bottom: 60%;
	left: 70%;
}
/* .secondary {
	background-color: var(--second-color);
    color: #fff;
}
.secondary:hover {
	background-color: var(--second-lighter);
} */